<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="https://simplex.chat/contact#/?v=1-2&smp=smp%3A%2F%2F6iIcWT_dF2zN_w5xzZEY7HI2Prbh3ldP07YTyDexPjE%3D%40smp10.simplex.im%2FgrARnE_rwHGfg_lEB63LhT0VUXT1z8p5%23%2F%3Fv%3D1-2%26dh%3DMCowBQYDK2VuAyEAxkGTSwItWAnXE4je4pLpvOPB93Gx-HYR28zFjTIc3h8%253D%26srv%3Drb2pbttocvnbrngnwziclp2f4ckjq65kebafws6g4hy22cdaiv5dwjqd.onion"><img width="90" height="90" src="/assets/rebello_simplex_chat.png"></a>
      </div>
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>© 2021-2023 rebello.dev</p>
      </div>
      <div class="footer-col">
        <a href="https://www.eff.org/"><img src="/assets/member-badge.png"></a>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
